@use 'colors';
@import 'mediaQuery';
.grid {
    &-3 {
        &-1x2 {
            grid-column: 1/6; 
            grid-row: 1/5;
        }
        &-2x3 {
           grid-column: 1/6;
           grid-row: 7/13;  
        }
    }
    &-6 {
        &-1 {
            grid-column: 6/13;
            grid-row: 1/13; 
            @include lg {
                p,button {
                    font-size: 1rem !important;
                }
            }
        }
    }
}
.new-courses-container {
    @include lg { 
        height: 55vh;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,1fr);
    }
}
.event {
    font-size: .7rem; 
    @include sm {
        font-size: .75rem;
    }
    @include md {
        font-size: 1rem; 
    }
    @include md {
        font-size: 1.25rem;
    }
}