@use '../../home/styles/colors';
@import '../../home/styles/mediaQuery';

.blur-bg {
    background-color: rgba(22,22,22,0.1); 
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
    transition: 300ms ease-in;
    z-index: 1000;
}

#category-menu {
        @include lg {
            transition: none;
        }
        transform: translateX(100%);
        &.active {
            transform: none !important;
        }
}