.bg-sec-2 {
    background-color: #f2f2f2;
}
.rounded-item {
    outline: 4px solid white;
    outline-offset: 4px;
}
.rounded-item:hover {
    outline: 6px solid #20C20F;
    outline-offset: 0;
}
.photos:hover > .cover {
    opacity: 1 !important;
}
.about-us {
    background-image: url('./bg_services.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(5%);
    backdrop-filter: blur(5%);
}